@import "vars"



@media only screen and (max-width: 1500px)
  .section-ourstock
  .ourstock-wrapper
    width: 330px
    margin-left: auto
    margin-right: auto
    &:hover .img-event1
      background: rgba($accent, .7)
      transition: all .5s ease
    &:hover .img-event2
      background: rgba(#1a1e51, .7)
      transition: all .5s ease
    &:hover .img-event3
      background: rgba(#ff9516, .7)
      transition: all .5s ease
    &:hover .ourstock-content-wrapper
      background: transparent
      transition: all .5s ease
  .ourstock-img
    position: relative
    overflow: hidden
    width: 100%
    height: 375px
    img
      position: absolute
      left: 50%
      margin-left: -194px
      display: inline-block
      width: 387px !important
      height: 375px
      transform: skew(8deg)
  .ourstock-content
    height: 82px
  .ourstock-content1
    background: rgba($accent, .8)
    color: #000
  .ourstock-content2
    background: rgba(#1a1e51, .8)
    color: $accent
  .ourstock-content3
    background: rgba(#ff9516, .8)
    color: #10122f
  .img-event
    position: absolute
    left: 50%
    margin-left: -166px
    display: inline-block
    width: 332px
    height: 375px
  .ourstock-content-wrapper
    position: absolute
    bottom: 51px
    width: 330px
    left: 50%
    margin-left: -165px
  .ourstock-content__title
    font-size: 22px
    height: 82px
  .ourstock-content__post-title
    font-size: 14px
    bottom: -49px

  .section-reviews
    .reviews-block
      padding: 18px
      background: #fff
      box-sizing: border-box
      width: 470px
      height: 300px
      margin: 0 auto
      position: relative
    .reviews-topline
      display: flex
      justify-content: space-between
      max-width: 350px
      min-width: 300px
      margin-left: 56px
      transform: skew(-16deg)
      min-height: 130px
    .reviews-topline__img
      border-radius: 10em
      box-shadow: 0px 0px 80px rgba(#000, .1)
      width: 85px
      height: 85px
      img
        display: block
        width: 85px
    .reviews-topline__data
      width: 250px
    .topline__data-name
      text-transform: uppercase
      font-size: 18px
      color: $accent
    .topline__data-status
      +font("Solomon-Sans-Normal", 400, 14px)
      color: #757575
    .topline__data-contacts
      position: relative
      margin-top: 0px
      img
        width: 18px
        height: 18px
        position: absolute
        left: 0px
        top: 4px
      a
        +font("Solomon-Sans-Normal", 400, 14px)
        color: #757575
        display: inline-block
        margin-left: 24px
    .reviews-bottomline
      margin-top: 0px
    .reviews-bottomline__text
      +font("Solomon-Sans-Normal", 400, 13px)
      color: #000
      width: 90%
      margin: 0 auto
      line-height: 1.15
      margin-top: 0px
  
  .section-gallery
    .gallery-block
      position: relative
      text-align: center
      overflow: hidden
      width: 215px
      height: 143px
      img
        width: 215px
        height: 143px
      &:after
        position: absolute
        content: ''
        top: 0
        bottom: 0
        left: 0
        right: 0
        background: rgba(#000, .3)
    .gallery
      max-width: 1200px
    .gallery-blocks
      max-width: 1200px
      justify-content: center

  .section-mobileapp
    .mobileapp-rightside__list
      ul
        li
          font-size: 19px
          span
            font-size: 15px

  .section-eventlist
    .eventlist
      max-width: 1300px
    .eventlist-block
      width: 330px
      height: 260px
    .eventlist-block__content
      width: 315px
      left: 9px
      bottom: 10px
    .eventlist-block__title
      font-size: 17px
    .eventlist-block__date
      font-size: 13px

  .section-newsitem
    .newsitem-leftside__text
      font-size: 15px
      line-height: 1.5
    .newsitem-leftside
      & > p
        font-size: 15px
        line-height: 1.5
      ul
      font-size: 16px
      ol
        font-size: 16px
    .newsitem-rightside__img
      width: 500px
      height: 500px
    .newsitem-leftside__title1
      font-size: 24px
    .newsitem-leftside__title2
      font-size: 22px
    .newsitem-leftside__title3
      font-size: 20px

  .section-wideanim
    .fullscreen-bg__video 
      width: auto
    .background-video
      padding-top: 120%

  .section-header
    .menu
      li
        a
          padding: 22px 15px
    .to-book-button
      padding: 12px 12px
    .consultation-button
      padding: 20px 12px
    .telephone
      span
        padding: 21px 50px 18px 50px
      img
        left: 16px

  .section-news
    .news-block
      padding: 0px 6px 0px 0px
      width: 48%
    .content-text
      line-height: 1.2
    .content-title
      line-height: 1.2
      font-size: 15px
    .content-date
      font-size: 12px
    .content-more
      span
        font-size: 14px
        &:hover
          font-size: 15px
    .news-block__content
      max-width: 300px

  // .section-reasons
  //   .reasons-block
  //     width: 235px
  //   .reasons-block__title
  //     font-size: 20px
  //   .wrapper-number
  //     left: 64px

  .section-ourtrainers
    .ourtrainers
      max-width: 1200px
    .ourtrainers-block
      position: relative
      width: 180px
      height: 235px
      margin-top: 80px
    .ourtrainers-block__img
      width: 180px
      height: 235px
      img
        width: 180px
        height: 235px

    .ourtrainers-block__title
      width: 160px
      font-size: 14px
      padding: 7px 0px

  .section-directionlist
    #wowslider-container1
      .tooltip-title
        font-size: 33px
      .tooltip-post-title
        font-size: 18px
      .ws_thumbs
        a
          font-size: 18px


  .section-stocklist
    .stocklist-items
      justify-content: center
    .stocklist-item
      width: 33%
    .ourstock-wrapper
      margin-right: auto
      margin-left: auto


@media (min-width: 1340px) and (max-width: 1400px) 
  .section-header
    .menu
      li
        a
          padding: 22px 21px
    .to-book-button
      padding: 12px 25px
    .consultation-button
      padding: 20px 25px

@media only screen and (max-width: 1200px)
  .section-header


@media only screen and (max-width: 760px)
  .section-header
    .header-topline
      display: none
    .header-mobile
      display: flex
      justify-content: space-between
      min-width: 320px
      min-height: 67px
      margin: 0 auto
      border-bottom: 1px solid #c0c5f5
    .header-mobile-logo
      display: flex
      align-items: center
      padding-left: 6px
      padding-right: 10px
      img
        display: block
        width: 20px
    .header-mobile-leftside
      display: flex
      align-items: center
    .dn-sports-club
      img
        width: 245px
    .header-mobile-rightside
      display: flex
    .dn-sports-club
      display: none
      position: absolute
      top: 3px
      left: 17px
    .to-book-button
      padding: 14px 0px
      border-left: 1px solid #c0c5f5
      span
        margin: 0 auto
        width: 100px
        margin-left: 7px
        font-size: 12px
    .consultation-button
      padding: 14px 0px
      white-space: normal
      transition: all 0s ease 0s
      span
        margin: 0 auto
        width: 100px
        font-size: 12px
    .header-mobile-telephone
      display: flex
      align-items: center
      padding: 0px 6px
      img
        display: block
        width: 30px
    .to-book-button
      transition: all 0s ease 0s
    // .header-mobile-hamburger
    //   position: relative
    //   width: 35px
    //   height: 27px
    //   margin-top: 20px
    //   cursor: pointer
    //   padding-right: 10px
    //   span
    //     width: 35px
    //     height: 2px
    //     background: $blue
    //     position: absolute
    //   span:first-child
    //     top: 0px
    //     left: 0px
    //   span:last-child
    //     top: 16px
    //     left: 0px
    //     &:after, &:before
    //       content: ''
    //       width: 35px
    //       height: 2px
    //       background: $blue
    //       position: absolute
    //     &:after
    //       top: -8px
    //     &:before
    //       top: 8px
    .hamburger
      padding: 0px 8px 0px 2px
      opacity: 1
      .hamburger-inner
        background: $blue
        height: 3px
        &:after, &:before
          background: $blue
          height: 3px
      .hamburger-box
        margin-top: 7px
    .header-mobile-hide
      display: none
    .is-active
      .hamburger-inner
        opacity: 1
        &:after, &:before
          opacity: 1
    .header-mobile-hamburger-active
      span:first-child
        transform: rotate(35deg) translateY(1px) translateX(1px)


    
    .header-mobile-menu
      width: 100%
      height: 100%
      overflow-y: auto
      min-height: 90vh
      position: absolute
      z-index: 9999
      nav
      ul
        li
          background: #fff
          a
            color: $accent
            transition: all .25s ease
            height: 55px
            box-sizing: border-box
            text-transform: uppercase
            font-weight: 700
            text-align: center
            padding: 14px 0px
            border: 1px solid rgba(#e9efff, .5)
            background: #fff
            display: block
            &:hover
              color: $blue
              transition: all .25s ease
          .clubs
            cursor: default
            color: $accent
            transition: all .25s ease
            height: 55px
            box-sizing: border-box
            text-transform: uppercase
            font-weight: 700
            text-align: center
            padding: 14px 0px
            border: 1px solid rgba(#e9efff, .5)
            background: #fff
            display: block
            &:hover
              color: $accent

        .li-to-book-button
          color: $blue
          background: #e9efff
          line-height: 1.2
          padding: 8px 0px
          transition: all .5s ease
          &:hover
            background: darken(#e9efff, 3%)
            transition: all .5s ease
        .li-consultation-button
          color: #fff
          background: $accent
          &:hover
            background: darken($accent, 15%)
            color: #ffffff
            transition: all .5s ease
        .li-telephone
          color: $blue
          span
            position: relative
            display: inline-block
            padding-left: 24px
          img
            position: absolute
            left: -9px
            top: -1px
    .li-club-dropdown
      display: none
      .li-club-dropdown__item
        color: $blue
        transition: all .25s ease
        height: 55px
        box-sizing: border-box
        text-transform: uppercase
        font-weight: 700
        text-align: center
        padding: 14px 0px
        background: #fff
        display: block
        &:hover
          color: $accent
          transition: all .25s ease
    .header-mobile-location
      background: url('../img/@2x/bg-blue-pixels.png') no-repeat center
    .header-mobile-menu-active
      display: block
      animation: jackInTheBox 0.5s ease
    .location-blocks
      padding-bottom: 35px
    .location-block
      text-align: center
      padding-top: 35px
      display: flex
      flex-direction: column
    .location-block__title
      +font("NeoSansPro-BoldItalic", 700, 20px)
      color: $accent
      text-transform: uppercase
      text-align: center
      margin: 0 auto
      background: $orange
      color: #fff
      transform: skew(-16deg)
      padding: 7px 45px
      display: block
      transition: all .25s ease
      span
        display: inline-block
        position: relative
        transform: skew(16deg)
      i
        color: #fff
        font-size: 24px
        position: absolute
        top: 1px
        left: -22px
      &:hover
        background: $blue
        transition: all .25s ease
    .location-block__address
      +font("NeoSansPro-LightItalic", 400, 20px)
      color: #fff
      text-transform: uppercase
      width: 75%
      margin: 0 auto
      text-align: center
      line-height: 1.3
      margin-bottom: 5px
      margin-top: 5px
      display: flex
      flex-direction: column
      align-items: center
      .tel
        display: block
        color: #fff
        
    .location-block__about
      display: block
      color: #212869
      text-transform: uppercase
      +font("NeoSansPro-BoldItalic", 700, 18px)
      transform: skew(16deg)
      background: $orange
      width: 150px
      margin: 0 auto
      padding: 6px 0px
      transition: all .5s ease
      span
        display: inline-block
        transform: skew(-16deg)
      &:hover
        background: $blue
        color: #fff
        transition: all .5s ease

  
  .section-wideanim
    .bgvideo-item
    .owl-dots
      margin-left: -45px
    .owl-nav
      button.owl-prev
        width: 45px
        height: 45px
        font-size: 21px
        i
          top: 13px
          left: 14px
      button.owl-next
        width: 45px
        height: 45px
        font-size: 21px
        i
          top: 13px
          left: 18px

  .section-blonde
    .blonde-leftside
      display: none
    .blonde-rightside
      padding-bottom: 50px
    .rightside-four-rounds
      flex-wrap: wrap
      width: 290px
    .four-rounds__item
      .info-hover
        width: 290px
        padding: 23px 4px
        top: -86px
        left: -252px
        font-size: 13px
        transform: skew(-5deg)
        span
          transform: skew(5deg)
        &:after
          transform: skew(5deg)
        &:after
          right: 0

      &:first-child
        .info-hover
          left: -91px
          &:after
            left: 94px
            right: auto
      &:nth-child(3)
        margin-top: 45px
        .info-hover
          left: -91px
          &:after
            left: 94px
            right: auto
      &:nth-child(4)
        margin-top: 45px
        .info-hover
          width: 290px
    .rightside-sports-club
      text-align: center
      img
        width: 300px
        height: 67px
    .rightside-text
      font-size: 16px
    .rightside-button
      width: 200px
      line-height: 1.3

  .section-megaslider
    .toppannel-buttons
      flex-direction: column
      align-items: center
      font-size: 21px
      width: auto
    .toppannel-button
      width: 250px
      span
        border-bottom: 2px dashed $orange
        line-height: 1.1
    .toppannel-button-active

    .toppannel-address
      width: 290px
      padding-top: 10px
      padding-bottom: 10px
    .megaslider-js
      width: 100%
    .owl-stage-outer
      transform: scale(0.5)
    .megaslider-img
      transform: skew(0deg)
      box-shadow: none
    .megaslider-img-wrapper
      transform: skew(0deg)
    .owl-item.active
      .megaslider-img
        box-shadow: none
    .megaslider-more-wrapper
      padding-top: 70px
      .megaslider-more
        width: 220px
        font-size: 21px
        line-height: 1.3
        padding: 10px 0px
    .owl-dots
      position: static
      margin-top: 15px
      // bottom: 0
      // left: 50%
      // margin-left: -40px
      // display: flex
      // flex-wrap: wrap
      // justify-content: center
      .owl-dot
        span
          background: #fff
          width: 11px
          height: 11px
          margin: 5px 2px
        &:hover
          span
            background: #fff
      .owl-dot.active
        span
          background: #fff
          transform: scale(1.3)
          transfition: scale .25s ease
    .owl-nav
      top: auto
      bottom: -10px
      width: 100vw
      button.owl-prev
        width: 45px
        height: 45px
        font-size: 21px
        i
          top: 13px
          left: 14px
      button.owl-next
        width: 45px
        height: 45px
        font-size: 21px
        i
          top: 13px
          left: 18px


  .section-contacts
    .contacts
      flex-wrap: wrap
      flex-direction: column
    .contacts-leftside
      margin: 0 auto
    .contacts-leftside__blocks
      flex-direction: column
      flex-wrap: wrap
      justify-content: space-evenly
    .contacts-leftside__block
      margin: 8px 15px
    .contacts-rightside
      margin: 0 auto
    .contacts-rightside__social
      justify-content: center
    .contacts-rightside
      padding-bottom: 40px
      padding-top: 20px
    .leftside__block-address
      position: relative
      padding-left: 17px
      img
        position: absolute
        left: -3px
        top: -3px
        width: 15px
    .leftside__block-tel
      position: relative
      padding-left: 17px
      img
        position: absolute
        left: -2px
        top: 1px
    .dn-dekstop-icon
      display: block

  .section-reviews
    .reviews-title
      font-size: 25px
      width: 270px
      padding: 0

  .section-directionlist
    #wowslider-container1
      .ws_images
        width: 100%
        max-width: 100%
      .ws_thumbs
        display: none
      .ws_controls
        display: block
        position: absolute
        width: 70vw
        bottom: -22px
        left: 0
        right: 0
        margin: 0 auto
        .ws_next, .ws_prev
          border: none
          width: 45px
          height: 45px
          background: transparent
          background: rgba(#98a3cc, .7)
          &:after
            display: none
          &:hover
            background: rgba(#98a3cc, .7)
          i
            font-size: 21px
            position: absolute
            top: 12px
            left: 13px
            color: #fff
          .fa-chevron-right
            left: 17px
      .ws_images-tooltip
        display: none
    .directionlist-rightside
      display: none
    .directionlist-leftside
      width: 100%
    .directionlist-button-absolute
      display: none
    .directionlist-bottom
      display: block
    .directionlist
      display: block
    .directionlist-bottom
      background: $blue
      padding: 20px
    .tooltip-item.tooltip-item-active
      display: block
    .tooltip-items
      padding-bottom: 30px
      padding-top: 55px
    .tooltip-item
      display: none
      color: #fff
      line-height: 1.5
      +font("NeoSansPro-Italic", 400, 16px)
    .directionlist-bottom__button
      background: $orange
      color: #fff
      transform: skew(-16deg)
      padding: 10px 0px 
      width: 240px
      text-align: center
      margin: 0 auto
      text-transform: uppercase
      font-size: 20px
      transition: all .5s ease
      display: flex
      align-items: center
      span
        display: inline-block
        transform: skew(16deg)
        line-height: 1.2
      &:hover
        background: $blue
        transition: all .5s ease

    

  .section-ourstock
  .ourstock-img
    img
      width: 430px !important
      margin-left: -252px
      transform: skew(0deg)
  .nohover
    pointer-events: none
  .img-event
    width: 290px
    margin-left: -145px
  .ourstock-wrapper
    width: 290px
    &:hover .img-event1
      background: rgba($accent, 0)
      transition: all .5s ease
    &:hover .img-event2
      background: rgba(#1a1e51, 0)
      transition: all .5s ease
    &:hover .img-event3
      background: rgba(#ff9516, 0)
      transition: all .5s ease
    &:hover .ourstock-content-wrapper
      background: transparent
      transition: all .5s ease
  .ourstock-content__title
    transform: skew(0deg)
    margin-left: 10px
    height: 70px
  .ourstock-content__post-title
    transform: skew(0deg)
    font-size: 12px
  .ourstock-content-wrapper
    height: 120px
    bottom: 0
    width: 290px
    margin-left: -145px
  .ourstock-content__post-title
    opacity: 1
    left: 10px
    line-height: 1.2
    bottom: -32px
    height: 40px
    padding-right: 10px

  .ourstock-title
    width: 270px
    text-align: center
    font-size: 25px
  .ourstock-carousel
    .owl-stage-outer
      transform: skew(0deg)
    .owl-nav
      top: auto
      button.owl-prev
        width: 45px
        height: 45px
        font-size: 21px
        i
          top: 12px
          left: 14px
      button.owl-next
        width: 45px
        height: 45px
        font-size: 21px
        i
          top: 12px
          left: 17px
    .owl-dots
      position: absolute
      bottom: 15px
      left: 50%
      display: flex
      flex-wrap: wrap
      justify-content: center
      width: 300px
      margin-left: -150px
      pointer-events: none
      .owl-dot
        pointer-events: auto
        span
          background: $blue
          width: 11px
          height: 11px
          margin: 5px 3px
        &:hover
          span
            background: $blue
      .owl-dot.active
        span
          background: $blue
          transform: scale(1.3)
          transfition: scale .25s ease

  .section-maingallery
    .owl-nav
      bottom: -17px
      width: 100vw
      top: auto
      color: $blue
      button.owl-prev
        background: transparent
        border: 1px solid $blue
        line-height: 1
        &:hover
          background: transparent
          color: $blue
        i
          top: 13px
      button.owl-next
        background: transparent
        border: 1px solid $blue
        line-height: 1
        &:hover
          background: transparent
          color: $blue
        i
          top: 13px
    .maingallery-title
      width: 270px
      font-size: 25px
    .js-maingallery
      width: 100%
    .owl-dots
      // margin-left: -112px
      // max-width: 224px
      // width: 70%
      // display: flex
      // justify-content: center
      // flex-wrap: wrap
      // line-height: 1
      margin-top: 15px
      width: 70%
      margin-left: auto
      margin-right: auto
      .owl-dot
        span
          background: $blue
          width: 9px
          height: 9px
          margin: 5px 2px
        &:hover
          span
            background: $blue
      .owl-dot.active
        span
          background: #1a1e51
          transform: scale(1.4)
          transfition: scale .25s ease
  
  .section-questions
    .questions-title
      width: 290px
      font-size: 29px
      padding-top: 35px
    .questions-button
      margin-top: 20px
      padding: 17px 0px

  .section-reviews
    overflow: hidden
    .owl-stage-outer
      transform: skew(0deg)
      padding-top: 70px
      padding-bottom: 0px
    .reviews
      background: url('../img/@2x/bg-reviews-mobile.jpg') no-repeat center
    .reviews-topline
      flex-direction: column
      align-items: center
      justify-content: flex-start
      min-width: auto
      width: auto
      transform: skew(0deg)
      margin-left: 0
      height: 201px
    .reviews-topline__data
      display: flex
      flex-direction: column
      align-items: center
      font-weight: 700
      .topline__data-name
      .topline__data-status
        font-weight: 700
        color: #000
      .topline__data-contacts
        font-weight: 700
      .data-contact
        a
          color: #000000
          font-weight: 700
    .reviews-bottomline
      transform: skew(0deg)
    .reviews-bottomline__text
      width: 95%
      margin-top: 15px
      span
        font-size: 16px
    .reviews-block
      box-shadow: none
      padding: 0
      width: 300px
      height: auto
      background: transparent
    .owl-nav
      top: auto
      bottom: 21px
      button.owl-next
        margin-right: 0
      button.owl-prev
        margin-left: 0
    .owl-dots
      position: static
      margin-top: 0px
      padding: 30px 0px
      .owl-dot
        span
          background: $blue
          width: 11px
          height: 11px
          margin: 5px 3px
        &:hover
          span
            background: $blue
      .owl-dot.active
        span
          background: $blue
          transform: scale(1.3)
          transfition: scale .25s ease


  .section-footer
    font-size: 18px
    font-style: italic
    .footer-links-leftside
      width: 75%
      margin: 0 auto
      .footer-copyright
        text-align: center
        font-size: 17px
    .footer-links
      flex-direction: column
      justify-content: center
      align-items: center
      padding-bottom: 50px
      a
        margin: 4px 0px
    .footer-copyright
      color: $accent
      font-weight: 700
    .footer-links-rightside
      width: 90%
      flex-direction: column
      justify-content: center
    .footer-link
      text-align: center
      font-size: 17px

  .section-wideanim
    .wideanim-rightside
      left: 50%
      margin-left: -150px
      width: 300px
      margin-top: -90px
    .wideanim-rightside__title
      text-align: center
      width: 280px
      margin: 0 auto
      height: 152px
      padding-bottom: 35px
      .h1
        font-size: 31px
        left: 0
        top: 0
    .wideanim-rightside__big-logo
      left: 88px
      top: -171px
      img
        width: 120px
        height: 159px

    .wideanim-rightside__post-title
      font-size: 17px
      width: 290px
      height: 80px
      text-align: center
      line-height: 1.2
      margin: 0 auto
    .wideanim-rightside__button
      width: 210px
      font-size: 18px
      margin: 20px auto 0px auto
    .owl-nav
      button.owl-prev
        margin-left: 2px
      button.owl-next
        margin-right: 2px

    .stockitem-content__title
      width: 280px
      margin: 0 auto
      height: 152px
      padding-bottom: 35px
      .h2
        font-size: 32px
        text-align: center
    .stockitem
      min-height: 600px
    .carousel-1
      min-height: 600px
    .wideanim-leftside
      min-height: 600px
      &:after
        position: absolute
        content: ''
        top: 0
        bottom: 0
        right: 0
        left: 0
        width: 100%
        height: 100%
        background: rgba($blue, .4)
        z-index: 2500
    .stockitem-biglogo
      width: 120px
      height: 159px
      margin-top: -262px
      left: 50%
      margin-left: -58px
      img
        width: 120px
        height: 159px
    .stockitem-content__post-title
      line-height: 1.2
      width: 290px
      height: 80px
      text-align: center
      font-size: 17px
      margin: 0 auto
    .stockitem-content-1
      width: 300px
      margin-top: -90px
      right: 50%
      margin-right: -151px  
    .stockitem-content__button
      font-size: 18px
      margin: 20px auto 0px auto
      width: 230px
    .wideanim-leftside
      width: 105%
    .stockitem-content
      width: 300px
      margin-top: -90px
      left: 50%
      margin-left: -148px

  .section-tour
    .select2-container
      width: 95px
      font-size: 28px
    .select2-container--default .select2-selection--single .select2-selection__arrow b
      display: none
    .select2-container .select2-selection--single .select2-selection__rendered
      white-space: normal
      line-height: 29px

    .select2-selection--single
      height: 65px
      display: flex
      align-items: center
    .tour-select
      padding-top: 40px
    .tour-select-title
      width: 95px
      font-size: 30px
      line-height: 1
      &:after
        display: none
      span
        margin-right: 7px
    .tour-select-dropdown
      left: -100px
      bottom: -120px
      width: 200px
      a
        font-size: 15px
    .title-page-wrapper
      justify-content: center
      top: 134px
    .title-page
      font-size: 18px
      width: 270px
      margin-left: 0%


  .section-data
    background: url('../img/@2x/bg-pixels.png') no-repeat left
    background-size: cover
    .data-blocks
      flex-direction: column
      justify-content: center
      align-items: center
      padding-top: 20px
    .data-block
      width: 100%
      max-width: 700px
      min-width: 300px
      margin-top: 40px
    .data-block-line1
      display: none
    .data-block-line2
      display: none
    .data-block__address
      font-size: 18px
    .data-block__title
      width: 180px
      font-size: 18px
    .data-block__tel
      font-size: 20px

  .section-event
    .event-topline
      display: block
    .event-topline__return
      width: 260px
      text-align: center
      margin: 0 auto
      font-size: 16px
    .event-topline__date
      text-align: center
      padding-top: 20px
    .gallery-images-wrapper
      transform: skew(0deg)
      width: 300px
      height: 200px
      & > div
        transform: skew(0deg)
    ul
      font-size: 16px
    ol
      font-size: 16px
    p
      font-size: 15px

  .section-news
    .news-blocks
      display: flex
      flex-direction: column
      align-items: center
    .news-block
      flex-direction: column-reverse
      padding-top: 15px
      width: 100%
      min-width: 300px
      max-width: 150px
    .content-date
      font-size: 13px
    .content-title
      font-size: 16px
    .content-text
      font-weight: 700


  .section-wideanimcustomer
    .wideanimcustomer
      max-height: 436px
    .wideanimcustomer-rightside
      left: 50%
      margin-left: -150px
      margin-top: -180px
      width: 310px
      z-index: 4000
    .wideanimcustomer-rightside__title
      width: 320px
      margin: 0 auto
      .h1
        font-size: 33px
    .wideanimcustomer-rightside__post-title
      font-size: 15px
      line-height: 1.3
    .wideanimcustomer-leftside
      width: 105%
      &:after
        position: absolute
        content: ''
        top: 0
        bottom: 0
        right: 0
        left: 0
        width: 100%
        height: 100%
        background: rgba($blue, .4)
        z-index: 2500

  .section-conditions
    .conditions-post-title
      width: 100%
      min-width: 300px
      max-width: 700px
      line-height: 1.3
      font-size: 19px
    .conditions-title
      font-size: 21px
      width: 100%
      max-width: 700px
      min-width: 300px
    .conditions-block__title
      display: none
    .conditions-block__img
      .cond-round
        width: 125px
        height: 125px
      .cond-info
        width: 35px
        height: 35px
        right: 15px
    .conditions-block
      width: 50%

  .section-newsitem
    .newsitem-topline
      flex-direction: column
      justify-content: center
    .newsitem-topline__return
      width: 260px
      text-align: center
      margin: 0 auto
      font-size: 16px
    .newsitem-topline__date
      text-align: center
      padding-top: 20px
    .newsitem-flex
      flex-direction: column-reverse
      justify-content: center
    .newsitem-rightside__img
      width: 295px
      height: 210px
      margin: 0 auto
      transform: skew(0deg)
      div
        transform: skew(0deg)
    .newsitem-leftside
      padding-top: 20px
      & > p
        margin-left: auto
        margin-right: auto
        line-height: 1.35
        width: 95%
    .newsitem-leftside__title
      padding-left: 28px

  .section-trainer
    .trainer-flex-toprow
      flex-direction: column
    .trainer-flex-bottomrow
      flex-direction: column
      .bottomrow-exp 
        display: none

    .trainer-item
      font-size: 18px
    .trainer-icon
      left: -33px
    .trainer-return
      width: 260px
      text-align: center
      margin: 0 auto
      font-size: 16px
      position: absolute
      left: 50%
      margin-left: -136px
      top: 70px
    .trainer-title
      margin-left: auto
      margin-right: auto
      margin-top: 70px
      width: 265px
      span:last-child
        line-height: 1.1
    .toprow-item
      width: 100%
    .toprow-img-center
      order: -1
    .hide-bottomrow-exp
      display: block
      margin-top: 35px
      margin-bottom: 35px
    .bottomrow-exp__title
      width: 130px
    .bottomrow-exp__star
      img
        width: 33px
        height: 30px
    

    .toprow-special__items
      flex-wrap: nowrap
      height: auto
      width: auto
      padding-bottom: 40px
      padding-left: 30px
    .toprow-special__item
      max-width: 280px
    .toprow-special__title-wrapper
      padding: 0

    .toprow-progress__items
      width: auto
      height: auto
      max-width: 285px
      padding-bottom: 40px
      padding-left: 30px
    .toprow-progress__title-wrapper
      padding: 0


    .bottomrow-education__item
      max-width: 285px
    .bottomrow-education__items
      padding-bottom: 40px
      padding-left: 30px

    .bottomrow-contacts__items
      flex-wrap: nowrap
      width: 150px
      height: auto
    .trainer-entry-wrapper
      padding-top: 40px
    .trainer-entry
      width: 210px
      line-height: 1.4
      font-size: 23px
  
  .section-mobileapp
    padding-right: 0px
    .mobileapp-flex
      flex-direction: column
      justify-content: center
    .mobileapp-leftside
      padding-bottom: 20px
    .mobileapp-rightside
      margin-left: 0px
    .mobileapp-leftside__buttons
      width: 100%
      max-width: 270px
      margin: 0 auto
      flex-direction: row-reverse
    .mobileapp-rightside__title-mobile
      text-align: center
      margin: 0 auto
      width: 260px
      line-height: 1.3
      display: block
    .mobileapp-rightside__title
      text-align: center
      margin: 0 auto
      width: 260px
      line-height: 1.3
      display: none
    .mobileapp-rightside__post-title
      text-align: center
      .grey-circle
        display: none
    .google-play-big
      width: 135px
      height: 38px
      img
        width: 135px
        height: auto
    .appstore-big
      width: 110px
      height: 39px
      img
        width: 110px
        height: auto
    .mobileapp-leftside__img
      padding-top: 35px 

  .section-smartfitness
    .smartfitness-flex
      flex-direction: column-reverse
      width: 100%
    .smartfitness-title
      width: 275px
    .smartfitness-post-title
      width: 90%
      max-width: 700px
      min-width: 300px
      line-height: 1.4
      font-size: 15px
    .smartfitness-rightside
      min-width: 0
      height: auto
      margin-bottom: 35px
    .smartfitness-leftside
      margin-right: 0px
      width: 90%
      margin: 0 auto
    .smartfitness-leftside__list
      div
        line-height: 1.2
        span
          font-size: 16px
          margin-left: 33px
    .smartfitness-rightside__videoWrapper
      iframe
        box-shadow: none

  .section-background
    background: url('../img/@2x/bg-barbell.jpg') no-repeat center
    background-size: cover
    height: 350px
    position: relative 
    &:after
      content: ''
      position: absolute
      top: 0
      bottom: 0
      left: 0
      right: 0
      background: rgba(#000, .5)
    .background-video
      display: none

  .section-stocklist
    .stocklist-items
      flex-wrap: wrap
    .stocklist-item
      width: 100%
      margin-top: 50px

  .section-reserve
    .reserve-biglogo
      width: 280px
      height: 373px
      img
        width: 280px
    .reserve-biglogo__name
      font-size: 24px
    .reserve-biglogo__address
      font-size: 17px
      width: 155px
    .reserve-biglogo__info
      bottom: 98px
      left: -11px
    .reserve-buttons-price
      justify-content: center
      width: 290px
    .reserve-buttons-price__first
      width: 50%
      transform: skew(-10deg)
      span
        transform: skew(10deg)
    .reserve-buttons-price__second
      width: 50%
      transform: skew(-10deg)
      span
        transform: skew(10deg)
    .reserve-button
      transform: skew(-10deg)
      padding: 9px 0px
      box-shadow: 0px 0px 30px rgba($accent, .7)
      span
        transform: skew(10deg)
    .reserve-threebuttons
      padding-top: 0px
      margin-top: 80px
      background: #fff
    .reserve-threebuttons__button
      width: 33%
      text-align: center
      background: #fff
      transition: all .25s ease
      font-size: 16px
      padding: 10px 15px
      &:nth-child(2)
        margin: 0
        border-left: 2px solid #bcc1f4
        border-right: 2px solid #bcc1f4
      &:hover
        background: #e9efff
        transition: all .25s ease

  .section-fitness
    background: url('../img/@2x/bg-fitness.png') no-repeat left
    background-size: cover
    .section-inner
      background: none
    .section-reverse-title
      min-height: 0px
      background: transparent
      box-shadow: none
    .reserve-title
      padding: 28px
    .fitness
      width: 95%
      padding: 10px 0px 20px 0px
    .reserve-title
      width: 80%
      font-size: 30px
    .fitness-flex
    .fitness-arguments
      justify-content: space-between
      width: 100%
    .fitness-arguments-column1
      width: 50%
    .fitness-arguments-column2
      width: 50%
    .arguments-title
      font-size: 15px
      line-height: 1.2
      margin-left: 5px
    .fitness-img
      display: none

    .fitness-arguments__item
      min-width: 0
      margin-bottom: 15px
    .arguments-img
      min-width: 50px
      min-height: 70px
    .a-img-1
      min-width: 70px
    .a-img-2
      min-width: 70px
    .a-img-3
      min-width: 70px
    #fit-icon-1
      top: 5px
      right: 0
      width: 70px
    #fit-icon-2
      top: 6px
      right: 4px
      width: 56px
    #fit-icon-3
      top: 24px
      right: 0
      width: 65px
    #fit-icon-4
      top: 0
      right: 13px
      width: 36px
    #fit-icon-5
      top: 4px
      right: 0
      width: 52px
    #fit-icon-6
      top: 2px
      right: 5px
      width: 44px
    #fit-icon-7
      top: 14px
      right: 0
      width: 50px
    #fit-icon-8
      top: 13px
      right: 0
      width: 45px

  .section-numbers
    .numbers
      padding-bottom: 30px
      width: 85%
    .numbers-title
      width: auto
      font-size: 30px
      line-height: 1.2
      padding-bottom: 40px
    .numbers-big-A
      display: none
    .numbers-column__block
      margin-top: 0px
      height: 120px
    .numbers-column__title
      line-height: 1.2
      font-size: 15px
    .numbers-column__value
      white-space: nowrap
      font-size: 32px

  .section-gallery
    .gallery-blocks
      justify-content: space-around
    .gallery-block
      width: 140px
      height: 93px
      margin-bottom: 20px
      img
        width: 140px
        height: 93px

  .section-reasons
    .reasons-title
      font-size: 25px
      width: 90%
      margin: 0 auto
    .reasons-block
      width: 150px
      margin-top: 25px
    .img-weight
      width: 50px
    .img-tile
      width: 45px
    .wrapper-number
      font-size: 35px
      width: 47px
      height: 47px
      left: 53px
      top: 19px
    .reasons-block__title
      font-size: 15px
      width: 100%



  .section-ourtrainers
    .js-direction-select
      display: block
    .ourtrainers
      flex-direction: column
      align-items: center
    .ourtrainers-address
      display: none
    .ourtrainers-blocks
      margin-left: 0px
      padding-top: 0px
    .ourtrainers-block
      width: 300px
      height: 393px
      margin-top: 50px
      border: 2px solid $blue
    .ourtrainers-block__img
      width: 300px
      height: 393px
      img
        width: 300px
        height: 393px
    .ourtrainers-block__title
      width: 235px
      font-size: 18px
    .select-trainer
      display: none
    .adress-select
      .select2-container
        +font("NeoSansPro-BoldItalic", 700, 20px)
      .select2-container--default .select2-selection--single .select2-selection__arrow b
        border-width: 9px 5px 0 5px
        border-color: #fff transparent transparent transparent
      .select2-selection--single .select2-selection__arrow
        top: 13px
        right: 25px

    .direction-select
      img
        display: none
      .select2-container
        display: block
        width: 310px
        background: transparent
        border: 1px solid $accent
        color: #ffffff
        text-align: center
        text-transform: uppercase
        +font("NeoSansPro-BoldItalic", 700, 20px)
      .select2-container--default .select2-results > .select2-results__options
        background: red 
      .select2-container--default .select2-selection--single
        background: transparent
        border: none
      .select2-container--default .select2-selection--single .select2-selection__rendered
        line-height: 56px
        color: $accent
      .select2-selection--single
        height: 55px
      .select2-selection--single .select2-selection__arrow
        top: 13px
        right: 25px
      .select2-container--default .select2-selection--single .select2-selection__arrow b
        border-width: 9px 5px 0 5px
        border-color: $accent transparent transparent transparent
      .select2-results__option[aria-selected]

  .direction-select-inner .select2-results .select2-results__options
    background: transparent
  .direction-select-inner .select2-results__option--highlighted[aria-selected]
    color: $blue
  .select2-dropdown.direction-select-inner
    background: #fff
    border: 1px solid $accent

  .section-faq
    .faq-toggle
      flex-direction: column
      width: 100%
    .faq-other
      margin-top: 20px
    .pass-wrapper
      flex-direction: column
    .pass-column
      flex-direction: column
    .pass-column:last-child
      margin-top: 50px
    .ui-accordion .ui-accordion-content
      font-size: 16px
      line-height: 1.1
    .ui-accordion .ui-accordion-content
      padding: 1em
    .ui-accordion .ui-accordion-header
      padding: 15px 15px
      font-size: 15px
      line-height: 1.1
      .ui-icon-triangle-1-e, .ui-icon
        display: none
    .pass-column__bracels
      width: 190px
      height: 192px
      bottom: 150px
      img
        width: 190px
        height: 192px

  @keyframes howtoEnterfinger 
    0% 
      bottom: -220px
    
    25% 
      bottom: -170px
    
    80% 
      bottom: -160px
    
    100% 
      bottom: -220px

  .section-infoabout
  .infoabout
    & > p
      font-size: 15px
    h2
      font-size: 24px
    h3
      font-size: 22px
    h4
      font-size: 20px
    ul
      font-size: 16px
    ol
      font-size: 16px
      


  #modal-tobook.fancybox-content, #modal-free.fancybox-content, #modal-call.fancybox-content
    width: 100%
    max-width: 500px
    padding: 44px 15px
    .modal-img
      width: 215px
      img
        width: 215px
    .modal-title
      font-size: 19px
    .modal-inputs
      max-width: 412px
      input
        font-size: 18px
    .modal-status
      .modal-success
        font-size: 18px
        margin-top: 5px
      .modal-error
        font-size: 18px
        margin-top: 5px
    .modal-agree
      font-size: 17px
    .modal-button
      font-size: 19px



      





    


    
    
    
    
