@import "vars"

@media only screen and (max-width: 1500px)
  .section-ourstock
    .ourstock-wrapper
      width: 330px
      margin-left: auto
      margin-right: auto
      &:hover .img-event
        background: rgba($accent, .7)
        transition: all .5s ease
    .ourstock-img
      position: relative
      overflow: hidden
      width: 100%
      height: 375px
      img
        position: absolute
        left: 50%
        margin-left: -247px
        display: inline-block
        width: 490px
        height: 375px
        transform: skew(18deg)
    .ourstock-content1
      background: rgba($accent, .8)
      color: #000
    .ourstock-content2
      background: rgba(#1a1e51, .8)
      color: $accent
    .ourstock-content3
      background: rgba(#ff9516, .8)
      color: #10122f
    .img-event
      position: absolute
      left: 50%
      margin-left: -218px
      display: inline-block
      width: 384px
      height: 375px
    .ourstock-content-wrapper
      position: absolute
      bottom: 51px
      width: 330px
      left: 50%
      margin-left: -165px
    .ourstock-content__title
      font-size: 22px
      width: 164px
    .ourstock-content__post-title
      font-size: 14px

  .section-reviews
    .reviews-block
      padding: 18px
      background: #fff
      box-sizing: border-box
      width: 500px
      height: 310px
      margin: 0 auto
      position: relative
    .reviews-topline
      display: flex
      justify-content: space-between
      max-width: 310px
      min-width: 300px
      margin-left: 56px
      transform: skew(-16deg)
      min-height: 130px
    .reviews-topline__img
      border-radius: 10em
      box-shadow: 0px 0px 80px rgba(#000, .1)
      width: 85px
      height: 85px
      img
        display: block
        width: 85px
    .topline__data-name
      text-transform: uppercase
      font-size: 18px
      color: $accent
    .topline__data-status
      +font("Solomon-Sans-Normal", 400, 14px)
      color: #757575
    .topline__data-contacts
      position: relative
      margin-top: 0px
      img
        width: 18px
        height: 18px
        position: absolute
        left: 0px
        top: 4px
      a
        +font("Solomon-Sans-Normal", 400, 14px)
        color: #757575
        display: block
        margin-left: 24px

    .reviews-bottomline__text
      +font("Solomon-Sans-Normal", 400, 13px)
      color: #000
      width: 90%
      margin: 0 auto
      line-height: 1.2
      margin-top: 6px
  
  .section-gallery
    .gallery-block
      position: relative
      text-align: center
      overflow: hidden
      width: 240px
      height: 155px
      img
        width: 240px
        height: 155px
      &:after
        position: absolute
        content: ''
        top: 0
        bottom: 0
        left: 0
        right: 0
        background: rgba(#000, .3)
    .gallery
      max-width: 1200px
    .gallery-blocks
      max-width: 1200px

  .section-mobileapp
    .mobileapp-rightside__list
      ul
        li
          font-size: 19px
          span
            font-size: 15px

  .section-eventlist
    .eventlist
      max-width: 1300px
    .eventlist-block
      width: 330px
      height: 260px
    .eventlist-block__content
      width: 315px
      left: 9px
      bottom: 10px
    .eventlist-block__title
      font-size: 17px
    .eventlist-block__date
      font-size: 13px

  .section-newsitem
    .newsitem-leftside__text
      font-size: 15px
      line-height: 1.5
    .newsitem-rightside__img
      width: 500px
      height: 340px
    .newsitem-leftside__title1
      font-size: 24px
    .newsitem-leftside__title2
      font-size: 22px
    .newsitem-leftside__title3
      font-size: 20px

  .section-wideanim
    .fullscreen-bg__video 
      width: auto
    .background-video
      padding-top: 120%

@media only screen and (max-width: 1200px)
  .section-header


@media only screen and (max-width: 768px)
  .section-header